<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Journals</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        body {
            font-family: 'Poppins';
        }
    </style>
</head>

<body>
    <div>
        <nav class="navbar navbar-light" style="background-color: #FFC43D;">
            <div class="container-fluid">
                <span class="h3">Cerella</span>
                <div class="col-4"></div>
                <a class="nav-link h3" href="/perfil" style="color:black">Perfil</a>
            </div>
        </nav>
    </div>

    <div class="mx-5 mt-5">
        <h1><strong>Mis Journals</strong></h1>
    </div>

    <form>
        <div class="mx-5">
            <div class="mt-5 row">
                <div class="col-3">
                    <input class="form-control form-control-lg" type="text" placeholder="Titulo">
                </div>
                <div class="col">
                    <button id='confirmar-cambios' for='cambiar-info-usuario-btn' 
                    class="btn btn-info h-100 text-black" >Buscar</button>
                </div>
            </div>
        </div>
    </form>

    <div class="mx-5 mt-5">
        <h1><strong>Todos los Journals</strong></h1>
    </div>

    <div>
        <div class="row mx-5">
            <div class="col-4">
                <div class="card m-4">
                    <img class="card-img-top img-fluid" style="height: 20vw; object-fit: cover" src="https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmFja2dyb3VuZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Journal 1</h5>
                        <p class="card-text">Journal de mis peliculas favoritas.</p>
                        <a href="#" class="btn btn-primary">Modificar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-4">
                    <img class="card-img-top img-fluid" style="height: 20vw; object-fit: cover" src="https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZHxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Journal 2</h5>
                        <p class="card-text">Journal de mis parodias favoritas.</p>
                        <a href="#" class="btn btn-primary">Modificar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-4">
                    <img class="card-img-top img-fluid" style="height: 20vw; object-fit: cover" src="https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Journal 2</h5>
                        <p class="card-text">Journal de mis parodias favoritas.</p>
                        <a href="#" class="btn btn-primary">Modificar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-4">
                    <img class="card-img-top img-fluid" style="height: 20vw; object-fit: cover" src="https://images.unsplash.com/photo-1444703686981-a3abbc4d4fe3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Journal 1</h5>
                        <p class="card-text">Journal de mis peliculas favoritas.</p>
                        <a href="#" class="btn btn-primary">Modificar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-4">
                    <img class="card-img-top img-fluid" style="height: 20vw; object-fit: cover" src="https://images.unsplash.com/photo-1493815793585-d94ccbc86df8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTF8fGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Journal 1</h5>
                        <p class="card-text">Journal de mis peliculas favoritas.</p>
                        <a href="#" class="btn btn-primary">Modificar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-4">
                    <img class="card-img-top img-fluid" style="height: 20vw; object-fit: cover" src="https://images.unsplash.com/photo-1607499699372-7bb722dff7e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGJhY2tncm91bmR8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Journal 1</h5>
                        <p class="card-text">Journal de mis peliculas favoritas.</p>
                        <a href="#" class="btn btn-primary">Modificar</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card m-4">
                    <img class="card-img-top img-fluid" style="height: 20vw; object-fit: cover" src="https://i.redd.it/hma9mivkd8a21.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Kachowski bby</h5>
                        <p class="card-text">Ka-chow~.</p>
                        <a href="#" class="btn btn-primary">Modificar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>